name: Build and Push Docker Image to JFrog

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to JFrog Artifactory
      uses: docker/login-action@v3
      with:
        registry: ${{ secrets.JFROG_URL }}
        username: ${{ secrets.JFROG_USER }}
        password: ${{ secrets.JFROG_PASSWORD }} # Or use JFROG_PASSWORD

    - name: Build and push Docker image
      if: github.ref == 'refs/heads/main'
      uses: docker/build-push-action@v5
      with:
        provenance: false
        context: .
        push: true
        tags: ${{ secrets.JFROG_URL }}/sumitjhingade-docker/sip_calculator:latest
        # Example tag format: mycompany.jfrog.io/docker-local/my-app:$(date +%s)
