jobs:
  pull-image:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Log in to JFrog Artifactory
        # Use the official Docker login action for secure authentication
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ARTIFACTORY_URL }} # e.g., your-instance.jfrog.io
          username: ${{ secrets.ARTIFACTORY_USERNAME }}
          password: ${{ secrets.ARTIFACTORY_TOKEN }}

      - name: Pull Docker image from Artifactory
        run: docker pull ${{ secrets.ARTIFACTORY_URL }}/<REPO_NAME>/<IMAGE_NAME>:<TAG>

      - name: Use the pulled image (example: run a container)
        run: docker run --rm ${{ secrets.ARTIFACTORY_URL }}/<REPO_NAME>/<IMAGE_NAME>:<TAG>

